
header {
    background-color: white;
    height: 1em;
    width: 100%
}


#logo{
    height: 10px;
    width: 10px
}
#heading{
    display: inline;
}
body{
    background-color: #FE2323;
}
#nav {
    display: flex;
    height: 100%;
}
.image{
    flex: 1;
    color: #fe2323;
}

.img{
    height: 100%;
    width: 50%;
}
.links{
    flex: 2;
}
a{
    display: block;
}